
h4 {
  color: #fff;
}
body {
  margin: 0;
  padding: 0;
  background-color: #000;
}
.ipl-streaming {
  background-color: #1a1a1a;
  padding: 20px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #fff;
}

.ipl-streaming h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Add more CSS styles as needed */

.nice {
  color: red
}
.quality-change {
  background-color: orange;
  padding: 10px;
  margin: 8px;
  display: flex;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.quality-change i {
  font-size: 24px;
  margin-right: 10px;
}

.quality-change .text {
  font-style: italic;
  color: #666;
}

/* Add more CSS styles as needed */

     .copyright {
            background-color: #f2f2f2;
            padding: 10px;
            text-align: center;
            font-size: 12px;
            color: #555;
           
            font-style: italic;
        }
  
.footer {
  background-color: white;
  text-align: center;
  padding: 10px;
  font-family: Arial, sans-serif;
  color: red;
  font-size: 14px;
}
.contact-div {
  background-color: #ffc107;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.option {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.option i {
  font-size: 24px;
  margin-right: 10px;
}

.option span {
  font-weight: bold;
  color: #fff;
}

/* Add more CSS styles as needed */

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 00px;
}
.visible {
  display: none;
}
.item {
  height: 40px;
  background-color: black;
  text-align: center;
  cursor: pointer;
  margin: 8px;
  padding: 0px;
}

.play-icon {
  display: inline-block;
  color: white;
  font-size: 16px;
  margin-top: 10px;
}
  a {
 text-decoration:none;
 color: black;
}

.item.selected {
  background-color: #333;
}
#ads-message {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 20px;
  margin: 20px;
  text-align: center;
}
